@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#home-page,
.about-page,
.news-page,
.send-article-page,
.current-article-page,
.archive-page,
.my-profile-page,
.login,
.registration,
.forget-password {
  padding: 170px 150px 10px 150px;
}
